[core]
  autocrlf = input
  pager = delta
  symlinks = true
[credential]
  helper = manager
[delta]
  navigate = true
[diff]
  colorMoved = default
  tool = vsdiffmerge
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[help]
  autocorrect = 1
[init]
  defaultBranch = main
[interactive]
  diffFilter = delta --color-only
[merge]
  conflictstyle = diff3
  tool = vsdiffmerge
[pull]
  rebase = true
[push]
  autoSetupRemote = true
[user]
  name = Sarvex ☠ Jatasra
  email = sarvex.jatasra@gmail.com
  username = sarvex
[difftool]
  prompt = true
