[core] 
	autocrlf = input 
	pager = delta
[credential] 
	helper = manager
[delta] 
	navigate = true    # use n and N to move between diff sections light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
[diff] 
	colorMoved = default
[filter "lfs"] 
	clean = git-lfs clean -- %f 
	smudge = git-lfs smudge -- %f 
	process = git-lfs filter-process 
	required = true
[help] 
	autocorrect = 1
[init] 
	defaultBranch = main
[interactive] 
	diffFilter = delta --color-only
[merge] 
	conflictstyle = diff3
[pull] 
	rebase = true
[user] 
	name = Sarvex 
	email = sarvex@jatasra.com 
	username = sarvex
