;; clojure-lsp needs this config to analyze Joyride code
{:deps {org.clojure/clojurescript {:mvn/version "1.12.42"}
        funcool/promesa {:mvn/version "11.0.678"}
        rewrite-clj/rewrite-clj {:mvn/version "1.1.49"}}
 :paths ["src" "scripts"]}